body{
    margin: 100px;
    background-image: url("images/easy-coconut-rice-7.jpeg");
}

h3.Items{
    color: red;
    font-style: oblique;
    font-size: xxx-large;
}

h3.Steps{
   color: darkred;
   font-style: oblique;
   font-size: xx-large;
}

div{
    padding-bottom: 75px;
    padding-top: 100px;
}

div#stepsss{
    background-image: url("images/download.jpeg");
    color: aqua;
}